#gallery-page {
    background-color: black;
}

#gallery-page #container {
    margin: 0px auto;
    max-width: 1200px;
    padding: 80px 20px;
}

#gallery-page #grid {
    columns: 3;
    gap: 10px;
}

#gallery-page #grid img {
    width: 100%;
    padding: 5px 0px;
}